# ==========================
# Environnement virtuel
# ==========================
.venv/

# ==========================
# Cache Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Variables d'environnement
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
logs/

# ==========================
# Fichiers temporaires
# ==========================
*.tmp

# ==========================
# Base de données SQLite locale
# ==========================
database/betvalue.db